.star-container label {
    cursor: pointer;
}
.star-container svg {
    width: 28px;
    height: 28px;
    padding: 2px;
}
.star-container div {
    font-size: 11px;
    text-align: center;
}
.star-container input {
    display: inline-block;
    width: 0;
    opacity: 0;
    margin-left: -2px;
}
.star-source {
    width: 0;
    height: 0;
    visibility: hidden;
}
.star-container .star {
    color: transparent;
    transition: color 0.2s ease-in-out;
}
.star-container {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
}

label:hover ~ label .star,
svg.star:hover,
.star-container input:focus ~ label .star,
.star-container input:checked ~ label .star {
    color: #e6cb1e;
}

.star-container input:checked + label .star {
    animation: starred 0.5s;
}

.star-container input:checked + label {
    animation: scaleup 1s;
}

@keyframes scaleup {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes starred {
    from {
        color: #600040;
    }
    to {
        color: #d62a9d;
    }
}



.checkbox label {
    margin:0px;
}